<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link href="../chatroom.css" rel="stylesheet" type="text/css">
</head>
<body>
    <input id="sendinput">
    <button id="sendbutton">SEND</button>
    <div id="message-list">
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        
        const messages = document.getElementById("message-list")

        const input = document.getElementById("sendinput")
        const button = document.getElementById("sendbutton")
        const nickname = localStorage.getItem("nickname")
        const roomid = localStorage.getItem("roomId")

        button.addEventListener("click", (evt)=>{
            if (input.value.trim()){
                socket.emit('chat message', { msg: input.value, nickname, roomid })
                input.value = ''
            }
        })
        input.addEventListener("keypress", (evt)=>{
            if(evt.keyCode == 13 && input.value.trim()){
                socket.emit('chat message', { msg: input.value, nickname, roomid })
                input.value = ''
            }
        })

        socket.on('send message', ({msg, nickname, roomid}) => {
            console.log("sent!")
            const item = document.createElement('span')
            item.innerHTML = `<strong>${nickname}:</strong> ${msg}`
            messages.appendChild(item)
        })

    </script>
</body>
</html>
