<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link href="../chatroom.css" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="/chatrooms">Back</a>
    <div id="message-list">
    </div>
    <div class="send-input">
        <input class="input" id="sendinput">
        <button class="button" id="sendbutton">SEND</button>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        
        const messages = document.getElementById("message-list")

        const input = document.getElementById("sendinput")
        const button = document.getElementById("sendbutton")
        const nickname = localStorage.getItem("nickname")
        const roomid = localStorage.getItem("roomId")

        async function saveMessage(nickname, roomid, msg){
            try {
                const res = await fetch("/message", {
                    method: 'POST',
                    credentials: 'include',
                    headers:{
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({username: nickname, chatroomid: roomid, message: msg})
                })
                if(!res.ok){
                    throw new Error("failed to save message")
                }
            }catch(e){
                console.error("error", e)
            }

        }

        document.addEventListener("DOMContentLoaded", ()=>{
            socket.emit("join room", { nickname, roomid})
        })

        button.addEventListener("click", (evt)=>{
            console.log("function fired")
            if (input.value.trim()){
                const __createdtime__ = Date.now()
                socket.emit('client message', { nickname, roomid, msg: input.value, __createdtime__})
                input.value = ''
            }
        })

        input.addEventListener("keypress", (evt)=>{
            console.log("function fired")
            if(evt.keyCode == 13 && input.value.trim()){
                console.log(input.value)
                const __createdtime__ = Date.now()
                socket.emit('client message', { nickname, roomid, msg: input.value, __createdtime__})
                input.value = ''
            }
        })

        socket.on('server message', (data)=>{
            console.log("server message sent!")
            const { nickname, msg} = data
            const item = document.createElement('span')
            item.innerHTML = `<strong>${nickname}:</strong> ${msg}`
            messages.appendChild(item)
            messages.scrollTop = messages.scrollHeight
            console.log(data)
        })

        socket.on('client message', ({msg, nickname, roomid}) => {
            saveMessage({nickname, roomid, msg})
            console.log("user message sent!")
            const item = document.createElement('span')
            item.innerHTML = `<strong>${nickname}:</strong> ${msg}`
            item.className = "message"
            messages.appendChild(item)
            messages.scrollTop = messages.scrollHeight
        })
    </script>
</body>
</html>
