<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../chatrooms.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <a href="/">Back</a>
        <h1>Chatrooms</h1>
        <input id="nickname" type="text" placeholder="Your nickname">
        <div id="chatroom-list">
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        
        document.addEventListener("DOMContentLoaded", async () =>{
            try{
                const res = await fetch('/reqchatrooms', {
                    method:'GET',
                    credentials: 'include',
                    headers:{
                        'Content-Type': 'application/json'
                    }
                })
                
                const rooms = await res.json()
                const roomlist = document.getElementById('chatroom-list')
                
                roomlist.innerHTML = ''
                
                rooms.forEach(room =>{
                    const listitem = document.createElement("div")
                    const connectbutton = document.createElement("button")
                    connectbutton.textContent = `Join ${room.name}`
                    connectbutton.onclick = () =>{
                        const nickname = document.getElementById("nickname").value.trim()
                        if (!nickname) {
                            alert("you need to put a nickname")
                            return
                        }
                        localStorage.setItem("roomId", room.id)
                        localStorage.setItem("nickname", nickname)
                        window.location.href = `/chatroom/${room.id}`
                    }
                    listitem.appendChild(connectbutton)
                    roomlist.appendChild(listitem)
                })
            } catch(e){
                console.error("something went wrong", e)
            }
        })
        </script>
</body>
</html>