<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link href="../chatroom.css" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="/chatrooms">Back</a>
    <div id="message-list">
    </div>
    <div class="send-input">
        <input class="input" id="sendinput">
        <button class="button" id="sendbutton">SEND</button>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        
        const messages = document.getElementById("message-list")

        const input = document.getElementById("sendinput")
        const button = document.getElementById("sendbutton")
        const nickname = localStorage.getItem("nickname")
        const roomid = localStorage.getItem("roomId")

        async function getMessages(roomid){
            try {
                const url = `/messages?chatroom_id=${encodeURIComponent(roomid)}`
                const resmessages = await fetch(url, {
                    method: 'GET',
                    credentials: "include",
                    headers:{
                        'Content-Type': 'application/json'
                    }
                })
                const pastmessages = await resmessages.json()
                //console.log(pastmessages)
                pastmessages.forEach(msg => {
                    //console.log(msg)
                    const item = createMessage(msg.username,msg.message)
                    messages.appendChild(item)
                })
            } catch(e){
                console.error("error",e)
            }
        }

        document.addEventListener("DOMContentLoaded", ()=>{
            socket.emit("join room", { nickname, roomid})
            getMessages(roomid)
        })

        button.addEventListener("click", (evt)=>{
            //console.log("function fired")
            if (input.value.trim()){
                socket.emit('client message', { nickname, roomid, msg: input.value})
                input.value = ''                
            }
        })

        input.addEventListener("keypress", (evt)=>{
            //console.log("function fired")
            if(evt.keyCode == 13 && input.value.trim()){
                console.log(input.value)
                socket.emit('client message', { nickname, roomid, msg: input.value})
                input.value = ''
            }
        })

        function createMessage(nickname, msg) {
            const item = document.createElement('span')

            const nickname_ = document.createElement('strong')
            nickname_.textContent = `${nickname} :`
            item.appendChild(nickname_)

            const message_ = document.createTextNode(` ${msg}`)
            item.appendChild(message_)

            return item
        }

        socket.on('save data', async (data)=>{
            const { nickname, roomid, msg} = data
            try {
                const res = await fetch("/message", {
                    method: 'POST',
                    credentials: 'include',
                    headers:{
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({username: nickname, chatroom_id: roomid, message: msg})
                })
                if(!res.ok){
                    const err = await res.text()
                    throw new Error(`failed to save message ${err}`)
                }
            }catch(e){
                console.error("error", e)
            }
        })

        socket.on('server message', (data)=>{
            //console.log("server message sent!")
            const { nickname, msg} = data
            const item = createMessage(nickname, msg)
            messages.appendChild(item)
            messages.scrollTop = messages.scrollHeight
        })

        socket.on('client message', ({msg, nickname, roomid}) => {
            //console.log("user message sent!")
            const item = createMessage(nickname, msg)
            item.className = "message"
            messages.appendChild(item)
            messages.scrollTop = messages.scrollHeight
        })
    </script>
</body>
</html>
